@model LogisticWebApp.Models.Spedizione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spedizione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCorriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCorriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mittente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mittente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndirizzoPartenza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirizzoPartenza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndirizzoDestinazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirizzoDestinazione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMerce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMerce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RichiesteSpeciali)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RichiesteSpeciali)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCreazione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCreazione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
