@model IEnumerable<LogisticWebApp.Models.Spedizione>

@{
    ViewData["Title"] = "Spedizioni";
}

<h1>Spedizioni</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="spedizioni-table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Corriere</th>
            <th>Mittente</th>
            <th>Destinatario</th>
            <th>Stato</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-spedizione-id="@item.Id">
                <td class="cliente-nome">
                    @item.Cliente.Nome
                </td>
                <td class="corriere-nome">
                    @item.Corriere.Nome
                </td>
                <td class="mittente">
                    @item.Mittente
                </td>
                <td class="destinatario">
                    @item.Destinatario
                </td>
                <td class="stato">
                    @item.Stato
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/spedizioni.js"></script>
}
